.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: dodgerblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: papayawhip;
}

.navbar-center {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 1.5rem;
  margin: 0;
}
